# dependencies
/node_modules

# Logs
logs
*.log
npm-debug.log*

# Coverage directory used by tools like istanbul
coverage
.nyc_output

# Next.js build output
.next
out

# production
/build

# env files (can opt-in for committing if needed)
.env*
!.env.example

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts