@import "tailwindcss";

:root {
    --bg: #1a1a1a;
    --copy: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Neue Haas Grotesk Display Pro";
    background-color: #000;
    color: var(--copy);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 1.75em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.links {
    display: flex;
    gap: 2em;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--copy);
    font-family: "Akkurat Mono";
    font-size: 12px;
    font-weight: 600;
    padding: 0.5em;
}

.home {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home h1 {
    cursor: default;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: var(--copy);
    font-size: 8vw;
    font-weight: bolder;
    line-height: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.home h1 .char {
    position: relative;
    will-change: transform;
}

.table.society {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    background-image: url(/spink.png);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: 4% 90%;

}

.table.churrasqueira {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(/ccolor.png);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: 4% 90%;
}

.table.ocorrencia {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(/ocolor.png);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: 4% 90%;
}

.table.config {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(/config.jpg);
    background-repeat: no-repeat;
}

/*headers*/
.head {
    display: flex;
    gap: 4px;
}

/*Head Content*/

.head-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*Botões Society1 Society2*/
.select input {
    cursor: pointer;
    display: flex;
    height: 80%;
    width: 4em;
    clip-path: polygon(15% 0, 100% 0, 85% 100%, 0 100%);
    background-color: rgb(35, 47, 64);
}

.select input:hover {
    animation: alternarCores 0.5s infinite alternate;
}

@keyframes alternarCores {
    0% {
        background-color: rgb(35, 47, 64);
    }

    100% {
        background-color: rgb(42, 56, 76);
    }
}

.select input.ativo {
    background-color: rgb(51, 68, 92);
    animation: none;
}

/*LINHAS*/
.linha {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 4px;
    padding-bottom: 15px;
}

.linha input[type="button"] {
    cursor: pointer;
}

@media (width < 600px) {
    .links {
        flex-direction: column;
        gap: 1em;
    }

    .nav {
        align-items: flex-start;
    }

    .content-society {
        display: flex;
        flex-direction: row;
    }

    .head-content {
        width: 100%;
        flex-direction: column;
        gap: 50px;
        align-items: flex-start;
        padding: 20px;
        height: 100%;
    }

    .linha {
        flex-direction: column;
        height: 100%;
        width: 304px;
        padding: 0;
    }

    .linha p {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .flex-3 {
        flex: 1;
    }

}

/*SELETOR DIAS*/
button.setaesquerda {
    background-color: rgb(30, 41, 57, 90%);
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%);
}

button.setadireita {
    background-color: rgb(30, 41, 57, 90%);
    clip-path: polygon(0 0, 50% 0, 100% 100%, 0 100%);
    overflow: hidden;
}

button.setaesquerda:hover svg {
    animation: setaEsquerda 0.5s infinite alternate;
}

@keyframes setaEsquerda {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-5px);
    }
}

button.setadireita:hover svg {
    animation: setaDireita 0.5s infinite alternate;
}

@keyframes setaDireita {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(5px);
    }
}

.cadsoc {
    width: 60px;
    height: 60px;
    position: fixed;
    right: 0;
    transform: translate(-50%);
    border-radius: 8px;
    border: 2px solid rgb(70, 70, 70);
    box-shadow: 0 0 5px red, 0 0 10px red, 0 0 20px red;
    background-image: radial-gradient(rgb(75, 75, 75) 10%, rgb(26, 26, 26));
    overflow: hidden;
    /* transição apenas para expansão */
    transition: width 0.3s ease, height 0.3s ease, border-radius 0.3s ease, box-shadow 0.3s ease;
}

.cadsoc.expanded {
    width: 344px;
    height: 480px;
    border-radius: 10px;
    box-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red;
}

/*--CADASTROS--*/
.cadastro {
    max-height: 480px;
    width: 340px;
    background-color: var(--color-menu);
    border-radius: 8px;
    border-top: 2px solid rgba(255, 255, 255, .2);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.top {
    padding-top: 2%;
    font-size: 24px;
    font-weight: 600;
}

.headcad {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 2%;
}

.corpo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.linha1 {
    display: flex;
    padding: 0 2%;
    font-size: 18px;
}

.nome,
.rg,
.cpf,
.nasc,
.tel,
.datacad,
.cidcad,
.email {
    padding-left: 1%;
}

.campo {
    display: flex;
    gap: 10px;
    /* espaço entre RG e CPF */
    width: 100%;
}

.jumpline {
    display: flex;
    flex-direction: column;
    /* label em cima, input embaixo */
    flex: 1;
    /* cada um ocupa metade da largura */
}

.inputcad {
    flex: 1;
    width: 100%;
}

.cadastro input[type="text"],
input[type="email"] {
    width: 100%;
    height: 24px;
    /* ajuste para a altura desejada */
    margin: 8px 0;
    padding-left: 4px;
    font-size: 16px;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.2);
    text-shadow: 1px 1px rgb(97, 97, 97);
    transition: box-shadow 0.2s ease-in-out, background 0.2s ease-in-out;
}

.cadastro input[type="text"]:hover,
input[type="email"]:hover {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.6);
}

.cadastro input[type="text"]:focus,
input[type="email"]:focus {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 1);
    outline: none;
}


.btncad {
    position: relative;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btncad input[type="submit"] {
    margin-bottom: 3%;
    width: 100px;
    height: 40px;
    cursor: pointer;
}

/*Animação*/
::view-transition-old(root),
::view-transition-new(root) {
    animation: none !important;
}

::view-transition-group(root) {
    z-index: auto !important;
}

::view-transition-image-pair(root) {
    isolation: isolate;
    will-change: transform, opacity, clip-path;
    z-index: 1;
}

::view-transition-new(root) {
    z-index: 10000;
    animation: none !important;
}

::view-transition-old(root) {
    z-index: 1;
    animation: none !important;
}